/* footer */
footer {
  text-align: center;
  padding: 20px 0;
  font-size: 13px;
}
footer p {
  margin-bottom: 20px;
  color: rgb(101, 101, 101);
}
footer a {
  text-decoration: none;
  color: rgb(101, 101, 101);
  margin-right: 20px;
}