* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}
body {
    background-color: #f7f7f7;
}

/* whole */
.whole-container {
    margin-left: 260px;
    min-height: 100vh;
    display: block;
    padding: 25px 50px;
    overflow: hidden;
}

/* top actions */
.top-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}
.search-menu {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 83%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.add-stock-menu-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #7A4E2D;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
}

/* table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
    background-color: #e8c396;
    border-radius: 15px;
}
tr, th, td {
    padding: 20px;
    text-align: center;
    font-size: 20px;
}
