* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}

/* whole container */
.whole-container {
  background-color: #EEDDC8;
  height: 129vh;
}

/* contact us content */
.contact-us-content {
  text-align: center;
  padding: 150px 100px 0px 100px;
}
.contact-us-content h1 {
  font-size: 50px;
  margin-bottom: 50px;
}
.contact-us-content h2 {
  font-size: 30px;
  margin-bottom: 30px;
}
.contact-us-content p {
  font-size: 20px;
  margin-bottom: 30px;
}

/* horizontal line */
.line {
  border: 0;
  height: 2px;
  background-color: #7A4E2D;
  margin: 60px 100px;
}

.after-sched-line .line {
  margin: 60px 30px
}

/* customer support aprt */
.contact-support-content {
  padding-top: 150px;
  margin: 0px 500px;
  margin-bottom: 100px;

}
.contact-support-content h1 {
  font-size: 30px;
  margin-bottom: 50px;
}
.input-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 15px;
}
.input-section label {
  font-size: 18px;
  text-align: left;
}
.input-section input,
.input-section textarea {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  margin: 0 auto;
}
.submit-button-section {
  margin-top: 20px;
  text-align: center;
}
.submit-button-section button {
  background-color: #7A4E2D;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}